body,
html {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Arial', sans-serif;
  background-color: #f4f4f4;
}

header {
  background: #3273e9;
  color: white;
  padding: 20px 200px;
}
